* {
    box-sizing: border-box;
}

.container {
       
 /*  text-align: center; */   
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children horizontally */
    justify-content: flex-start;
    background-color: #f9f9f9;  
    
}

.top-section {
    display: flex;
    text-align: center; 
    padding: 20px;
    background-color: none;
    border-bottom: 2px solid #e0e0e0;;
}



#start-button {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: none;
}
#reset-button {
    cursor: pointer;
    margin-top: none;
    margin-bottom: none;
}

#start-button:hover, #reset-button:hover {
    opacity: 0.8;
}
.screen-message {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    min-height: 32px; /* to prevent layout shift when message changes */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    height: fit-content;
    border: 5px solid #333;
    padding: 10px;
    margin: 20px;    /* add 20px auto centers the game board on the page */
    text-align: center;
   
}


.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 19px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #333;
}

:root {
    --border: 3px solid black;
}
    


.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    
}

.cell:not(:nth-child(3n)) {
    border-right: 2px solid #333;
}
.cell:not(:nth-last-child(-n+3)) {
    border-bottom: 2px solid #333;
}

.cell:hover {
    background-color: #f0f0f0;
}
.cell:active {
    background-color: #ccc;
}

#game-message {
    margin: center;
    font-size: 25px;
    text-align: center;
}


